<h1>Edit Appearance</h1>

<% if flash.notice.present? %>
  <% flash.notice.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_for @appearance do |f| %>
  <%= f.label :rating %>
  <%= f.number_field :rating, in: (1..5) %>
  <%= f.collection_select :episode_id, Episode.all, :id, :date %>
  <%= f.collection_select :guest_id, Guest.all, :id, :name %>
  <%= f.submit %>
<% end %>
